.root {
    -fx-base: #ffebee;
    -fx-background-color: linear-gradient(to bottom right, #ffcdd2, #e57373);
    -fx-font-family: 'Segoe UI', sans-serif;
}

.label {
    -fx-text-fill: #b71c1c;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #d32f2f;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 8 15;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #b71c1c;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

.button:pressed {
    -fx-background-color: #8e0000;
}

.text-field, .password-field {
    -fx-background-color: white;
    -fx-border-color: #e57373;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 5;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #b71c1c;
    -fx-effect: dropshadow(three-pass-box, rgba(211, 47, 47, 0.4), 5, 0, 0, 0);
}

.table-view {
    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: #ef5350;
    -fx-background-radius: 5 5 0 0;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-size: 35;
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-alignment: center-left;
}

.table-row-cell:filled:selected {
    -fx-background-color: #ffcdd2;
    -fx-text-fill: black;
}

.table-row-cell:odd {
    -fx-background-color: #ffebee;
}

.header-label {
    -fx-font-size: 24px;
    -fx-text-fill: #8e0000;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0, 0, 1);
}
